In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
# cargamos el archivo CSV
data = pd.read_csv('201601.csv', encoding='latin-1')

In [20]:
# Mostramos las cabeceras para ver el orden del dataset
cabeceras = data.head(0)
print(cabeceras)

Empty DataFrame
Columns: [f_agenda, h_agenda, uo, asignenf, medico, f_creacion, u_creacion, f_modificacion, u_modificacion, duracion, especialidad, episodio, anulado, mot_anul, f_anul, h_anul, poblacion, distrito, direccion, sexo, f_nacimiento, paciente, rut, aseguradora]
Index: []

[0 rows x 24 columns]

In [21]:


# Juntar las columnas "f_agenda" y "h_agenda" en "t_agenda"
data['t_agenda'] = data['f_agenda'] + ' ' + data['h_agenda']

# Eliminar las columnas "f_agenda" y "h_agenda"
data.drop(['f_agenda', 'h_agenda'], axis=1, inplace=True)

# Juntar las columnas "f_anul" y "h_anul" en "t_anul"
data['t_anul'] = data['f_anul'] + ' ' + data['h_anul']

# Eliminar las columnas "f_anul" y "h_anul"
data.drop(['f_anul', 'h_anul'], axis=1, inplace=True)

#eliminar uo
data.drop('uo', axis=1, inplace=True)

In [22]:
print(data.head())

         uo  asignenf      medico  f_creacion u_creacion f_modificacion
0   IBAGIOB   IBARP06   4777923-5  13.01.2016   AGENDAIT     13.01.2016  \
1  ILSMEGRA  ILSRP02A  13529539-6  25.01.2016   AGENDAIT     26.01.2016
2   ITOTRAU   ITORP02   6572813-3  04.01.2016   AGENDAIT     04.01.2016
3   ITOTRAU   ITORP02   6572813-3  05.01.2016    VAPEREZ     11.01.2016
4   IPVTRAU   IPVRP05   8206865-1  07.01.2016      JRUBI     12.01.2016

  u_modificacion  duracion especialidad    episodio  ...          poblacion
0        CCENTER        15         2420         NaN  ...                NaN  \
1        TMOLINA        20         2690  37147336.0  ...  VILLA LA  FLORIDA
2       RROJASAA        15         3440         NaN  ...                  X
3     CHENRIQUEZ        15         3440         NaN  ...                  X
4        AHARAYA        15         3440  36907162.0  ...                  X

    distrito       direccion sexo f_nacimiento  paciente         rut
0        NaN             NaN  NaN   02.02.1982  10172567  15377213-4  \
1  LA SERENA  LINCOYAN  4255  1.0   21.11.1980  12137301  13876411-7
2          X               X  1.0   11.11.1975  12561135  12881212-1
3          X               X  1.0   11.11.1975  12561135  12881212-1
4          X               X  1.0   11.11.1975  12561135  12881212-1

   aseguradora             t_agenda               t_anul
0          NaN  14.01.2016 09:00:00  00.00.0000 09:00:00
1     900001.0  26.01.2016 09:10:00  00.00.0000 09:10:00
2          NaN  08.01.2016 18:15:00  04.01.2016 18:15:00
3          NaN  11.01.2016 18:00:00  11.01.2016 18:00:00
4     900012.0  12.01.2016 16:00:00  00.00.0000 16:00:00

[5 rows x 22 columns]